* {
  margin: 0px;
  padding: 0px;
}
.top{
  position: sticky;
  top: 0px;
  background-color: rgb(255, 255, 255); 
  z-index: 1000; 
  transition: background-color 0.3s; 
}
img {
  cursor: pointer;
}

header {
  padding: 2px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  
}
header p {
  text-align: center;
  display: flex;
  align-items: center;
  height: 25px;
  width: 75px;
  margin: 5px;
  padding: 5px;
  border: 2px solid rgb(227, 98, 12);
  border-radius: 9px;
}
.menu {
  border: 2px solid black;
  border-radius: 2px;
  margin: 2px;
  padding: 2px;
  height: 25px;
  width: 25px;
  border: none solid;
}
.group {
  margin: 2px;
  padding: 2px;
  background-color: white;
  border: none;
  clip-path: circle();
  height: 30px;
  width: 30px;
}
nav {
  
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}
.options {
  
  box-shadow: 0px 6px 9px 0px rgb(218, 218, 218);
}
.taskbar {
  
  margin: 2px;
  padding: 3px 3px 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
span {
  font-size: 17px;
}
.search {
  width: 25px;
  height: 25px;
}
a {
  width: 12vw;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  width: 14vw;
  height: 8vh;
  background-color: rgb(227, 130, 73);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
a:active {
  background-color: rgb(185, 15, 15);
  color: white;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product p {
  height: 25px;
  width: 50px;
  border-bottom: 2px solid orange;
  font-size: 18px;
  font-weight: bolder;
  margin: 2px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-bottom 0.3s ease;
  
}
.items {
  margin: 20px 12px 8px;
  padding-top: 8px;
}
.first {
  margin: 2px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.item1 {
  padding: 2px;
  margin: 2px;
  margin-bottom: 3px;
  border-bottom: 2px dashed rgb(226, 226, 226);
}
.desc {
  color: rgb(85, 94, 103);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item1 img {
  width: 20px;
}
.middle {
  display: flex;
  justify-content: space-between;
}
.item1 p {
  margin: 2px;
  padding: 2px;
  font-weight: 500;
  color: rgb(85, 94, 103);
}
button {
  text-align: center;
  vertical-align: middle;
  color: rgb(216, 40, 40);
  font-weight: bold;
  width: 5vw;
  height: 5vh;
  margin: 5px;
  padding: 5px;
  box-shadow: 0px 1px 6px 2px gray;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.item1 span {
  display: inline;
  font-size: larger;
}
@media (max-width: 768px) {
  header p {
    height: 20px;
    width: 50px;
    font-size: 14px;
  }
  .menu,
  .group {
    height: 20px;
    width: 20px;
  }
  span {
    font-size: 14px;
  }
  button {
    width: 10vw;
    height: 3vh;
    font-size: 14px;
  }

  a {
    font-size: 18px;
  }
}
